<div class="todo-bar">
                <input type="checkbox" class="checkbox" id="checkbox0">
                <div class="patient-name">Miguel Carlos</div>

                <img class="icon-7" src="/img/icon-phone.svg" />
                <div class="number">+63912345678</div>

                <img class="icon-8" src="/img/icon-mail.svg" />
                <a href="mailto:miguelcarlos@google.com" target="_blank" rel="noopener noreferrer">
                    <div class="email">miguelcarlos@google.com</div>
                </a>

                <div class="time">12:00PM - 13:00PM</div>
                <div class="procedure">Teeth Whitening</div>

                <!--<div class="divider"></div>-->
</div>