<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/D_Todo.css" />
    <link rel="stylesheet" href="/css/O_MainTemplate.css" />
    <link rel="stylesheet" href="/css/sidebar_animation.css" />
    <link rel="stylesheet" href="/css/D_Todo_animation.css" />
    <link rel="stylesheet" href="/css/D_Todo_form.css" />
    <link rel="stylesheet" href="/css/D_Todo_form_animation.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/scripts/D_Todo.js"></script>
</head>
<!--Kai Designer-->

<body>
    <div class="treatment">
        
        
        <div class="overlap">
            <div class="text-wrapper-3">To Do</div>
            <div class="rectangle-2">
                <div class="done-box">
                    <img class="icon-tick" src="/img/icon-tick.svg" />
                    <div class="done-box-text">Done</div>
                </div>
            </div>
            <div class="number-of-treatments"> <img class="icon" src="/img/icon-calendar.svg" />
                <p class="element-total-treatments"> <span class="text-wrapper">100</span>
                    <span class="span">&nbsp;</span> <span class="text-wrapper-2">Total Appointments</span> </p>
            </div>
            <div class="arrow-drop-left"><img class="vector-left" src="/img/icon-arrow_drop_left.svg" />
            </div>
            <div class="label">
                <div class="text-wrapper">Thurs, Sept. 28, 2024</div>
            </div>
            <div class="arrow-drop-right"><img class="vector-right" src="/img/icon-arrow_drop_right.svg" />
            </div>
        </div>





        <div class="text-wrapper-32">Active Treatment</div>
        <div class="text-wrapper-33">Inactive Treatment</div>
        <img class="icon-15" src="/img/icon-solid-right-arrow.svg" />

        <!-- Highlights the word "Treatment List"-->
        <div class="line-3"></div>


        <div class="group-14">

            <div class="group-23">
                <div class="group-24">
                    <div class="group-25">
                        <div class="text-wrapper-37">Delete</div>
                        <img class="icon-19" src="/img/icon-trash.svg" />
                    </div>
                </div>
            </div>

            <img class="line-16" id="line2" src="/img/line-4.svg" />

            <div class="group-20">
                <div class="group-21">
                    <div class="group-22">
                        <div class="text-wrapper-36">Edit</div>
                        <img class="icon-18" src="/img/icon-theme.svg" />
                    </div>
                </div>
            </div>

            <img class="line-16" id="line1" src="/img/line-4.svg" />

            <div class="group-15">
                <div class="group-16">
                    <div class="group-17">
                        <div class="text-wrapper-34">Filters</div>
                        <img class="icon-16" src="/img/icon-filter.svg" />
                    </div>
                </div>
            </div>

            <img class="line-16" id="line0" src="/img/line-4.svg" />

            <div class="group-18">
                <div class="group-19">
                    <div class="overlap-group-4">
                        <img class="icon-17" src="/img/icon-add.svg" />
                        <div class="text-wrapper-35">Create Appointment</div>
                    </div>
                </div>
            </div>

        </div>

        <!--Category List-->
        <div class="todo-list-group">
            <div class="rectangle">
                <div class="group-2">

                    <div class="group-wrapper">
                        <div class="group-3">
                            <img class="icon-3" src="/img/icon-updown.svg" />
                            <div class="text-wrapper-5">PHONE</div>
                        </div>
                    </div>

                    <div class="group-4">
                        <img class="icon-4" src="/img/icon-updown.svg" />
                        <div class="text-wrapper-6">EMAIL</div>
                    </div>

                    <div class="group-5">
                        <img class="icon-5" src="/img/icon-updown.svg" />
                        <div class="text-wrapper-7">TIME</div>
                    </div>

                    <div class="group-6">
                        <img class="icon-6" src="/img/icon-updown.svg" />
                        <div class="text-wrapper-6">TREATMENT</div>
                    </div>

                    <div class="group-8">
                        <img class="icon-9" src="/img/icon-updown.svg" />
                        <div class="text-wrapper-10">PATIENT NAME</div>
                    </div>

                    <input type="checkbox" class="checkbox">
                </div>
            </div>

            <!-- Todo List Information -->
            {{> D_Todo-bar}}

            <!--Divider-->
            <div class="line-5-1"></div>

            <!--If User adds todo this is where their info will go-->
            {{> D_Todo-bar}}

            <div class="line-5"></div>
            <div class="line-6"></div>
            <div class="line-7"></div>
            <div class="line-8"></div>
            <div class="line-9"></div>
            <div class="line-10"></div>
            <div class="line-11"></div>
            <div class="line-12"></div>
            <div class="line-13"></div>
            <div class="line-14"></div>

        </div>




        <div class="div-wrapper">
            <div class="group-13">
                <div class="overlap-group-3">
                    <div class="text-wrapper-31">1000 of 1000</div> <img class="vector-2"
                        src="/img/icon-leftright-arrow.svg" />
                </div>
            </div>
        </div>
    </div>
        {{> D_Todo_form}}
        
    </div>
    
</body>

</html>
