<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/test/A_LoginPage.css">


</head>

<body>

    <div class="container">
        <img src="/img/dentist-pic.png" />
        <!-- +LOGIN SIDE-->
        <div class="frame-1">

            <!-- `BRAND GROUP-->
            <div class="brand-group">

                <img class="logo" src="/img/logo-better-smiles.svg" />

                <div class="name">
                    <h2>BETTER SMILES</h2>
                    <h3>DENTAL CLINIC</h3>
                    <p>General Dentistry ● Orthodontist ● Surgery</p>
                </div>
            </div>

            <div class="password-group">

                </label>
                <input type="password" id="password" placeholder="Enter your password" value="{{password}}"/>

            </div>

        </div>

    </div>

</body>

</html>
