<!-- `NAME PAGE, SEARCH BOX-->
<div class="frame-1">
  <div class="name-page"> To Do</div>
  <div class="search-settings-group">
    <img class="icon-search" src="/img/icon-search.svg" />
    <input type="text" class="search-box" placeholder="Search for a Patient" />
  </div>

</div>
<!--`END -->

<!-- `TITLES -->

<div class="frame-2">

  <div class="title-divider"></div>

  <div class="title-group">
    <div class="title-element">Appointments</div>

  </div>
  <div class="title-divider-2"></div>
  <div class="indicator-line"></div>

</div>
<!-- `END TITLES-->

<div class="frame-3 todo-file">


  <!-- `NUM APPOINTMENTS , DATE, BUTTONS-->
  <div class="schedule-group">

    <div class="appointment-number-elements">
      <img class="icon-calendar" src="/img/icon-calendar.svg" />
      <div class="appointment-number">100</div>
      <div class="total-appointment-text">Total Appointment</div>
    </div>

    <div class="date-elements">
      <img class="vector" src="/img/icon-arrow_drop_left.svg" />
      <div class="date-text">Thurs, Sept. 28, 2024</div>
      <img class="img" src="/img/icon-arrow_drop_right.svg" />

    </div>

    <div class="buttons-group">
      <div class="button create-appointment-elements">
        <img class="icon icon-add" src="/img/icon-add.svg" />
        <div class="text-buttons create-appointment-text">Create Appointment</div>
      </div>
      <div class="divider"></div> <!-- Divider between buttons -->
      <div class="button filter-elements">
        <img class="icon-filter" src="/img/icon-filter.svg" />
        <div class="text-buttons text-wrapper">Filters</div>
      </div>
      <div class="divider"></div> <!-- Divider between buttons -->
      <div class="button edit-elements">
        <img class="icon icon-edit" src="/img/icon-edit.svg" />
        <div class="text-buttons text-wrapper">Edit</div>
      </div>
      <div class="divider"></div> <!-- Divider between buttons -->
      <div class="button trash-elements">
        <img class="icon icon-trash" src="/img/icon-trash.svg" />
        <div class="text-buttons text-wrapper">Delete</div>
      </div>
    </div>

  </div>
  <!--`END SCHEDULE GROUP-->


  <!-- `LIST OF CATEGORY -->
  <div class="appointment-category-group">
    <label class="appointment-checkbox-category">
      <input type="checkbox" />
    </label>
    <div class="patient-name-elements">
      <div class="category-text">PATIENT NAME</div>
      <img class="icon-updown" src="/img/icon-updown.svg" />
    </div>
    <div class="phone-elements">
      <div class="category-text">PHONE</div>
      <img class="icon-updown" src="/img/icon-updown.svg" />
    </div>
    <div class="email-elements">
      <div class="category-text">EMAIL</div>
      <img class="icon-updown" src="/img/icon-updown.svg" />
    </div>
    <div class="time-elements">
      <div class="category-text">TIME</div>
      <img class="icon-updown" src="/img/icon-updown.svg" />
    </div>
    <div class="treatment-elements">
      <div class="category-text">TREATMENT</div>
      <img class="icon-updown" src="/img/icon-updown.svg" />
    </div>

  </div>
  <!-- `END LIST OF CATEGORY -->


<!-- `PATIENT LIST-->

<div class="patient-list-group">
    

{{>B_Todo_bar}}


    <div class="patient-information-group">

      <label class="appointment-checkbox">
        <input type="checkbox" />
      </label>

      <div class="patient-details">
        <div class="text-name">Kai Padilla</div>

        <div class="contact-info">
          <div class="contact-item">
            <img class="icon-phone" src="/img/icon-phone.svg" alt="Phone Icon" />
            <div class="text-phone">+63901234576</div>
          </div>
          <div class="contact-item">
            <img class="icon-mail" src="/img/icon-mail.svg" alt="Email Icon" />
            <div class="text-email">kaipadilla@google.com</div>
          </div>
        </div>

        <div class="additional-info">
          <div class="text-address">2401 Taft Ave, Malate...</div>
          <div class="text-appointment-date">Sept 10, 2024</div>
          <div class="text-next-visit">Sept 18, 2024</div>
          <div class="text-treatment">Wisdom Tooth Removal</div>
        </div>
      </div>




    </div>

  <!-- `END PATIENT LIST-->


</div>
</div>

{{>B_Todo_form}}
