<div class="overlay todo-form-file">


    <div class="container ">
        <div class="main-content">
            <h2>Add Appointment</h2>
            <form>
                <label for="treatment">Treatment</label>
                <select id="treatment" disabled>
                    <option>Treatment</option>
                </select>

                <label for="patient-name">Patient Name</label>
                <input type="text" id="patient-name" value="{{patient.firstName}} {{patient.lastName}}" readonly>

                <label for="email">Email</label>
                <input type="email" id="email-todo" placeholder="Email" value="{{patient.email}}" readonly>

                <label for="phone-number">Phone Number</label>
                <input type="tel" id="phone-number" placeholder="Phone Number" value="" readonly>

                <label for="date-time">Date & Time</label>
                <div class="date-time">
                    <input type="date" id="date" value="">
                    <input type="time" id="start-time" value="">
                    <span>to</span>
                    <input type="time" id="end-time" value="">
                </div>

                <div class="buttons">
                    <button type="button" class="cancel-button">Cancel</button>
                    <button type="submit" class="done-button">Done</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src = "/js/B_Todo_form.js"></script>