<div class="patient-information-group">

      <label class="appointment-checkbox">
        <input type="checkbox" />
      </label>

      <div class="patient-details">
        <div class="text-name">Kai Padilla</div>

        <div class="contact-info">
          <div class="contact-item">
            <img class="icon-phone" src="/img/icon-phone.svg" alt="Phone Icon" />
            <div class="text-phone">+63901234576</div>
          </div>
          <div class="contact-item">
            <img class="icon-mail" src="/img/icon-mail.svg" alt="Email Icon" />
            <div class="text-email">kaipadilla@google.com</div>
          </div>
        </div>

        <div class="additional-info">
          <div class="text-address">2401 Taft Ave, Malate...</div>
          <div class="text-appointment-date">Sept 10, 2024</div>
          <div class="text-next-visit">Sept 18, 2024</div>
          <div class="text-treatment">Wisdom Tooth Removal</div>
        </div>
      </div>
    </div>
