
<div class="field">      
        <div class="overlay" id="overlay"></div>          
            <div class="form-container" id="form-container" style="display: none;">           
                <div class="form-overlap">             
                    <div class="form-container-2">          
                        <div class="form-wrapper">                 
                            <div class="form-overlap-group">                   
                                <div class="form-container-2">                     
                                    <div class="form-overlap">                       
                                        <div class="form-container-2">                         
                                            <div class="form-overlap-2">                           
                                                <div class="form-overlap-group-wrapper">                             
                                                    <div class="form-overlap-group">                               
                                                        <img class="rectangle" src="\img\icon-rectangle.png" />                               
                                                        <div class="Phone-Number-Text">Phone Number</div>                               
                                                        <div class="Email-Text">Email</div>                               
                                                        <div class="Patient-Name-Text">Patient Name</div>                               
                                                        <div class="date-time">Date &amp; Time</div>                               
                                                        <div class="cancel-frame"><div class="Cancel-Text">Cancel</div> </div>                              
                                                        <div class="done-frame"><div class="Done-Text">Done</div></div>                               
                                                        <div class="Treatment-Text">Treatment</div>                               
                                                        <div class="Form-Header">Add Appointment</div>                               
                                                        <img class="line" src="/img/line-11.svg" />                               
                                                        <div class="to-text">to</div>                                                         
                                                    </div>
                                                </div>
                                                <div class="Start-Time-Group">
                                                    <div class="Time-Group">
                                                        <img class="img-2" src="/img/icon-time.svg" />
                                                        <div class="Start-Time-Text">02:00pm</div>
                                                        <img class="img-2" src="\img\icon-arrow-down.svg" />
                                                    </div>
                                                </div>
                                                <input type="text" class="Textbox" id="Patient-Textbox" placeholder="Patient Name">
                                                
                                            </div>
                                        </div>
                                        <div class="Treatment-Group">                         
                                            <div class="Treatment-input">Treatment</div>                         
                                            <img class="chevron" src="\img\icon-arrow-down.svg" />                       
                                        </div>          
                                        <input type="text" class="Textbox" id="Phone-Number-Textbox" placeholder="Phone Number">             
                                    </div>
                                </div>
                                <div class="End-Time-Group">                     
                                    <div class="Time-Group">                       
                                        <img class="img-2" src="/img/icon-time.svg" />                       
                                        <div class="End-Time-Text">02:00pm</div>                       
                                        <img class="img-2" src="\img\icon-arrow-down.svg" />                     
                                    </div>                   
                                </div>     
                                <input type="text" class="Textbox" id="Email-Textbox" placeholder="Email">              
                            </div>
                        </div>
                    </div>
                    <div class="Date-Group">
                        <div class="Date-Input">
                          <div class="Date-Text">12.12.2022</div>
                          <img class="calendar" src="\img\icon-calendar.png" />
                        </div>
                        <div class="box2"><img class="line2" src="\img\icon-line.svg" /></div>
                    </div>
                    <div class="box"><img class="line" src="\img\icon-line.svg" /></div>
                    
                </div>
            </div>

    </div>