<!-- `NAME PAGE, SEARCH BOX-->
    <div class="frame-1">
      <div class="name-page"> Treatments</div>
      <div class="search-settings-group">
        <img class="icon-search" src="/img/icon-search.svg" />
        <input type="text" class="search-box" placeholder="Search for a Patient" />
      </div>

    </div>
    <!--`END -->

 <!-- `TITLES -->

      <div class="frame-2">

        <div class="title-divider"></div>

        <div class="title-group">
          <div class="title-element">Active Treatments</div>
          <img class="icon-solid-right-arrow" src="/img/icon-solid-right-arrow.svg" />
          <div class="title-element-2">Inactive Treatments</div>
        </div>
        <div class="title-divider-2"></div>
        <div class="indicator-line"></div>

      </div>
      <!-- `END TITLES-->


            <div class="frame-3 treatment-file">


                <!-- `NUM treatments , DATE, BUTTONS-->
                <div class="treatment-group">

                    <div class="treatment-number-elements">
                        <img class="icon-stethoscope" src="/img/icon-stethoscope.svg" />
                        <div class="treatment-number">100</div>
                        <div class="total-treatment-text">Treatments</div>
                    </div>

                    <div class="buttons-group">
                        <div class="button create-treatment-elements">
                            <img class="icon icon-add" src="/img/icon-add.svg" />
                            <div class="text-buttons add-treatment-text">Add Treatment</div>
                        </div>
                        <div class="divider"></div> <!-- Divider between buttons -->
                        <div class="button filter-elements">
                            <img class="icon-filter" src="/img/icon-filter.svg" />
                            <div class="text-buttons text-wrapper">Filters</div>
                        </div>
                        <div class="divider"></div> <!-- Divider between buttons -->
                        <div class="button edit-elements">
                            <img class="icon icon-edit" src="/img/icon-edit.svg" />
                            <div class="text-buttons text-wrapper">Edit</div>
                        </div>

                    </div>

                </div>
                <!--`END SCHEDULE GROUP-->


                <!-- `LIST OF CATEGORY -->
                <div class="treatment-category-group">

                    <div class="treatment-name-elements">
                        <div class="category-text">TREATMENT NAME</div>
                        <img class="icon-updown" src="/img/icon-updown.svg" />
                    </div>
                    <div class="price-elements">
                        <div class="category-text">PRICE</div>
                        <img class="icon-updown" src="/img/icon-updown.svg" />
                    </div>
                    <div class="estimated-duration-elements">
                        <div class="category-text">ESTIMATED DURATION</div>
                        <img class="icon-updown" src="/img/icon-updown.svg" />
                    </div>
                    <div class="visit-type-elements">
                        <div class="category-text">TYPE OF VISIT</div>
                        <img class="icon-updown" src="/img/icon-updown.svg" />
                    </div>


                </div>
                <!-- `END LIST OF CATEGORY -->


                <!-- `treatment LIST-->

                <div class="treatment-list-group">
                   
                   
                   {{>D_Treatment_bar}}
                   
                   
                    <div class="treatment-information-group">

                        <div class="treatment-details">
                            <div class="text-treatment">Tooth Whitening</div>

                            <div class="text-price">1000</div>
                            <div class="text-estimated-duration">3hrs</div>
                            <div class="visit-button single-visit">SINGLE VISIT</div>
                            <div class="visit-button multiple-visit">MULTIPLE VISIT</div>

                        </div>

                    </div>
                
                
                
                
                
                
                
                
                
                
                
                
                
                </div>
                <!-- `END PATIENT LIST-->


            </div>
        </div>
    </div>
    <!--+END MAIN CONTENT-->

