
                    <div class="treatment-information-group">

                        <div class="treatment-details">
                            <div class="text-treatment">Tooth Whitening</div>

                            <div class="text-price">1000</div>
                            <div class="text-estimated-duration">3hrs</div>
                            <div class="visit-button single-visit">SINGLE VISIT</div>
                            <div class="visit-button multiple-visit">MULTIPLE VISIT</div>

                        </div>

                    </div>
                
