
    <div class="filter-form-file">

        <div class="filter-form" id="filterForm">
            <h2>Filter</h2>
            <form>
                <!-- Treatment Type -->
                <div class="form-group">
                    <label for="treatmentType">Service Type:</label>
                    <select id="treatmentType" name="treatmentType">
                        <option value="">All</option>
                        {{#each services}}
                            <option value="{{{service}}}">{{{service}}}</option>              
                        {{/each}}
                    </select>
                </div>

                <!-- Date -->
                <!--<div class="form-group">
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date">
                </div>-->

              

                <!-- Patient Name Sorting -->
                <div class="form-group">
                    <label for="patientNameSort">Name Sort:</label>
                    <select id="patientNameSort" name="patientNameSort">
                        <option value="A-Z">A-Z</option>
                        <option value="Z-A">Z-A</option>
                    </select>
                </div>

                <!-- Last Visit Sorting -->
                <div class="form-group">
                    <label for="lastVisitSort">Last Visit:</label>
                    <select id="lastVisitSort" name="lastVisitSort">
                        <option value="recent">Recent (Less than 6 months)</option>
                        <option value="old">Old (More than 6 months)</option>
                    </select>
                </div>

                <!-- Filter and Cancel Buttons -->
                <div class="form-buttons">
                    <button type="button" class="btn btn-secondary"onclick="cancelFilter()">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="applyFilters()">Filter</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/test/O_Filter_form.js"></script>
