<div class="container">
  <!-- +Sidebar Wrapper with Toggle Button -->
  <div class="sidebar-wrapper">
    <input type="checkbox" id="sidebar-toggle" hidden>
    <label for="sidebar-toggle" class="toggle-btn">
      <img src="/img/icon-solid-left-arrow.svg" alt="Toggle Sidebar" class="toggle-icon">
    </label>

    <div class="sidebar">
      <div class="brand-logo">
        <img src="/img/logo-better-smiles.svg" alt="Brand Logo">
      </div>
      <div class="brand-name">
        <h2>BETTER SMILES</h2>
        <h3>DENTAL CLINIC</h3>
        <p>General Dentistry ● Orthodontist ● Surgery</p>
      </div>


      <ul>
        <div class="clinic-text"> CLINIC</div>
        <li><a href="/to-do">
            <img src="/img/icon-todo.svg" alt="To Do" class="sidebar-icon">
            <span class="sidebar-text">To Do</span></a></li>
        <li><a href="/patient_list">
            <img src="/img/icon-sidemenu-user.svg" alt="Patients" class="sidebar-icon">
            <span class="sidebar-text">Patients</span> </a></li>
        <li><a href="/treatment">
            <img src="/img/icon-stethoscope.svg" alt="Treatment" class="sidebar-icon"><span
              class="sidebar-text">Treatment</span></a></li>
        <li><a href="/F_Settings">
            <img src="/img/icon-settings.svg" alt="Settings" class="sidebar-icon">
            <span class="sidebar-text">Settings</span></a></li>
        <li><a href="/A_LoginPage">
            <img src="/img/icon-logout.svg" alt="Logout" class="sidebar-icon">
            <span class="sidebar-text">Logout</span></a></li>
      </ul>
    </div>
  </div>
  <!-- +END SIDEBAR DESIGN-->

  <!-- +Main content -->
  <div class="main-content">

    


  
