<div class="container main-template-file">
  <!-- +Sidebar Wrapper with Toggle Button -->
  <div class="sidebar-wrapper">
    <input type="checkbox" id="sidebar-toggle" hidden>
    <label for="sidebar-toggle" class="toggle-btn">
      <img src="/img/icon-solid-left-arrow.svg" alt="Toggle Sidebar" class="toggle-icon">
    </label>

    <div class="sidebar">
      <div class="brand-logo">
        <img src="/img/logo-better-smiles.svg" alt="Brand Logo">
      </div>
      <div class="brand-name">
        <h2>BETTER SMILES</h2>
        <h3>DENTAL CLINIC</h3>
        <p>General Dentistry ● Orthodontist ● Surgery</p>
      </div>


      <ul>
        <div class="clinic-text"> CLINIC</div>
        <li><a href="/to-do" data-restricted = "true">
            <img src="/img/icon-todo.svg" alt="To Do" class="sidebar-icon">
            <span class="sidebar-text">To Do</span></a></li>
        <li><a href="/patient_list" data-restricted = "true">
            <img src="/img/icon-sidemenu-user.svg" alt="Patients" class="sidebar-icon">
            <span class="sidebar-text">Patients</span> </a></li>
        <li><a href="/services" data-restricted = "true">
            <img src="/img/icon-stethoscope.svg" alt="Services" class="sidebar-icon" ><span
              class="sidebar-text">Services</span></a></li>
        <li><a href="/report" data-restricted = "true">
            <img src="/img/icon-piechart.svg" alt="Report" class="sidebar-icon" ><span
              class="sidebar-text" data-restricted = "true">Report</span></a></li>
        <li><a href="/login" data-restricted = "true">
            <img src="/img/icon-logout.svg" alt="Logout" class="sidebar-icon">
            <span class="sidebar-text">Logout</span></a></li>
      </ul>
    </div>
  </div>
  <!-- +END SIDEBAR DESIGN-->

  <!-- +Main content -->
  <div class="main-content">

<script>
  const isAuthenticated = {{isAuthenticated}};
  console.log(isAuthenticated);
  document.querySelectorAll('a[data-restricted="true"]').forEach((link) => {
        link.addEventListener('click', (event) => {
            if (!isAuthenticated) {
                event.preventDefault(); // Prevent the link from navigating
                alert('Please log in to access this section.');
            }
        });
    });

</script>