 <!-- +Side Bar & Main Interface Group-->
 <div class="side-bar-design">

   <!-- `Name of Page, search feature and settings-->
   <div class="frame-1">
     <div class="name-page"></div>
     <div class="search-settings-group">
       <div class="search-box"></div>
       <div class="search-box-2">Search for a Patient</div>
       <div class="ellipse-wrapper">
         <img class="icon-search" src="/img/icon-search.svg" />
       </div>

     </div>
     <img class="icon-settings" src="/img/icon-settings.svg" />
   </div>
   <!-- `END-->

   <div class="line"></div>
   <div class="line-2"></div>

   <!-- `Side Menu-->
   <div class="left-container">
     <div class="side-menu-arrow"><img class="iconixto-solid-caret" src="/img/icon-solid-left-arrow.svg" />
     </div>
     <div class="company-name">
       <p class="BETTER-SMILES-DENTAL">
         <span class="better-smiles-text">BETTER SMILES<br /></span>
         <span class="dental-clinic-text">DENTAL CLINIC</span>
       </p>
       <p class="clinic-address-text">18 Russia St., Better Living, Paranaque</p>
     </div>



     <div class="clinic-text">CLINIC</div>
     <div class="side-menu-icons">

      <ul>
            <li><a href="/B_PatientList_page"><img src="/img/icon-todo.svg" alt="Home" class="sidebar-icon"> Home</a></li>
            <li><a href="#"><img src="images/about-icon.png" alt="About" class="sidebar-icon"> About</a></li>
            <li><a href="#"><img src="images/services-icon.png" alt="Services" class="sidebar-icon"> Services</a></li>
            <li><a href="#"><img src="images/contact-icon.png" alt="Contact" class="sidebar-icon"> Contact</a></li>
        </ul>

       <!-- *Links to the pages-->
       <div class="todo-element">
         <a href="/D_Todo">
           <img class="icon-todo" src="/img/icon-todo.svg" />
           <div class="todo-text">To Do</div>
         </a>
       </div>

       <div class="patients-element">
         <a href="/B_PatientList_page">
           <img class="icon-sidemenu-user" src="/img/icon-sidemenu-user.svg" />
           <div class="patients-text">Patients</div>
         </a>
       </div>

       <div class="treatment-element">
         <a href="/C_Treatment">
           <img class="icon-stethoscope" src="/img/icon-stethoscope.svg" />
           <div class="treatment-text">Treatment</div>
         </a>
       </div>


       <div class="report-element">
         <a href="/E_Report">
           <img class="icon-piechart" src="/img/icon-piechart.svg" />
           <div class="report-text">Report</div>
         </a>
       </div>


       <div class="logout-element">
         <a href="/A_LoginPage">
           <img class="icon-logout" src="/img/icon-logout.svg" />
           <div class="logout-text">Logout</div>
         </a>
       </div>
     </div>
   </div>

 </div>
 <!--  +END-->
