<!-- Side Menu Bar -->
            <div class="company-name">
                <p class="BETTER-SMILES-DENTAL"> <span class="text-wrapper-23">BETTER SMILES<br /></span>
                    <span class="text-wrapper-24">DENTAL CLINIC</span> </p>
                <p class="p">18 Russia St., Better Living, Paranaque</p>
            </div>




            <div class="text-wrapper-25">CLINIC</div>
            <div class="side-menu-arrow"><img class="iconixto-solid-caret"
                    src="/public/img/icon-solid-left-arrow.svg" /></div>


            <div class="side-menu-icons-wrapper">
                <div class="side-menu-icons">
                    <div class="to-do"> <img class="vector" src="/public/img/icon-todo.svg" />
                        <div class="text-wrapper-26">To Do</div>
                    </div>
                    <div class="div-2"> <img class="icon-11" src="/public/img/icon-sidemenu-user.svg" />
                        <div class="text-wrapper-27">Patients</div>
                    </div>
                    <div class="treatment"> <img class="icon-12" src="/public/img/icon-stethoscope.svg" />
                        <div class="text-wrapper-28">Treatment</div>
                    </div>
                    <div class="report"> <img class="icon-13" src="/public/img/icon-piechart.svg" />
                        <div class="text-wrapper-29">Report</div>
                    </div>
                    <div class="logout"> <img class="icon-14" src="/public/img/icon-logout.svg" />
                        <div class="text-wrapper-30">Logout</div>
                    </div>
                </div>
            </div>
            <div class="div-wrapper">
                <div class="group-13">
                    <div class="overlap-group-3">
                        <div class="text-wrapper-31">1000 of 1000</div> <img class="vector-2"
                            src="/public/img/icon-leftright-arrow.svg" />
                    </div>
                </div>
            </div>