<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/test/O_MainTemplate.css">
  <link rel="stylesheet" href="/test/B_Todo.css">
  <link rel="stylesheet" href="/test/C_PatientInformation.css">
  <link rel="stylesheet" href="/test/C_PatientList.css">
  <link rel="stylesheet" href="/test/D_Treatment.css">

</head>

<body>
  {{>O_MainTemplate}}
  {{>D_Treatment}}



</body>

</html>
