<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />


  <link rel="stylesheet" href="/css/O_MainTemplate.css" />
    <link rel="stylesheet" href="/css/sidebar_animation.css" />
</head>

<body>
<!-- Sidebar will always show-->
{{>sidebar}} 



    {{>B_PatientInformation_page}}   


    
  </body>

</html>
