<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/test/O_MainTemplate.css">
  <link rel="stylesheet" href="/css/A_LoginPage.css"> 
  <link rel="stylesheet" href="/test/B_Todo.css"> 
  <link rel="stylesheet" href="/css/B_Todo_animation.css">
  <link rel="stylesheet" href="/css/B_Todo_form.css">
  <link rel="stylesheet" href="/css/B_Todo_form_animation.css">
  <link rel="stylesheet" href="/test/C_PatientInformation.css">
  <link rel="stylesheet" href="/test/C_PatientList.css">
  <link rel="stylesheet" href="/test/D_Treatment.css">

  <script src="/js/B_Todo.js"></script>
  <script src="/js/Search.js"></script>

</head>

<body>
  {{>O_MainTemplate}}
  {{{body}}}
  

</body>
