<div class="container-login-page">
    <img src="/img/dentist-pic.png" />
    <!-- +LOGIN SIDE-->
    <div class="frame-1">

        <!-- `BRAND GROUP-->
        <div class="brand-group">

            <img class="logo" src="/img/logo-better-smiles.svg" />

            <div class="name">
                <h2>BETTER SMILES</h2>A
                <h3>DENTAL CLINIC</h3>
                <p>General Dentistry ● Orthodontist ● Surgery</p>
            </div>
        </div>

        <div class="password-group">

            </label>
            <input type="password" id="password" placeholder="Enter your password">{{password}}
        </div>
        <button id="login-button">Login</button>
        <div id="login-message"></div>
    </div>

</div>

<script src="/js/A_LoginPage.js"></script>
