<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/C_Treatment.css" />
    <link rel="stylesheet" href="/css/sidebar_animation.css" />
</head>
<!--Kai Designer-->

<body>
    <div class="treatment">
     {{>sidebar}}
            <div class="overlap">

                <div class="rectangle-2"></div>
                <div class="number-of-treatments"> <img class="icon" src="/img/icon-stethoscope.svg" />
                    <p class="element-total-treatments"> <span class="text-wrapper">2</span>
                        <span class="span">&nbsp;</span> <span class="text-wrapper-2">Total Patients</span> </p>
                </div>
            </div>

            <div class="group">
                <div class="text-wrapper-3">Treatment</div>

                <!--Searchbar & Settings-->
                <div class="search-bar-wrapper">
                    <div class="search-bar">
                        <div class="overlap-group">
                            <div class="text-wrapper-4">Search for a Treatment</div>
                            <img class="img" src="/img/icon-search.svg" />
                        </div>
                    </div>
                </div> <img class="icon-2" src="/img/icon-settings.svg" />

            </div>

            <div class="line-2"></div>

            <div class="text-wrapper-32">Active Treatment</div>
            <div class="text-wrapper-33">Inactive Treatment</div>
            <img class="icon-15" src="/img/icon-solid-right-arrow.svg" />

            <!-- Highlights the word "Treatment List"-->
            <div class="line-3"></div>
            <div class="line-4"></div>

            <div class="group-14">
                <div class="group-15">
                    <div class="group-16">
                        <div class="group-17">
                            <div class="text-wrapper-34">Filters</div>
                            <img class="icon-16" src="/img/icon-filter.svg" />
                        </div>
                    </div>
                </div>

                <img class="line-16" src="/img/line-4.svg" />
                <div class="group-18">
                    <div class="group-19">
                        <div class="overlap-group-4">
                            <img class="icon-17" src="/img/icon-add.svg" />
                            <div class="text-wrapper-35">Add Treatment</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Category List-->
            <div class="treatment-list-group">
                <div class="rectangle">
                    <div class="group-2">

                        <div class="group-wrapper">
                            <div class="group-3">
                                <img class="icon-3" src="/img/icon-updown.svg" />
                                <div class="text-wrapper-5">PRICE</div>
                            </div>
                        </div>

                        <div class="group-4">
                            <img class="icon-4" src="/img/icon-updown.svg" />
                            <div class="text-wrapper-6">ESTIMATE DURATION</div>
                        </div>

                        <div class="group-5">
                            <img class="icon-5" src="/img/icon-updown.svg" />
                            <div class="text-wrapper-7">TYPE OF VISIT</div>
                        </div>

                        <div class="group-8">
                            <img class="icon-9" src="/img/icon-updown.svg" />
                            <div class="text-wrapper-10">TREATMENT NAME</div>
                        </div>
                    </div>
                </div>

                <!-- Treatment List Information (treatment-name, price, estimated time, type of visit)-->
                <div class="treatment-bar0">
                    <div class="treatment-name">Teeth Whitening</div>
                    <div class="start-from">Start &nbsp; from</div>
                    <div class="price">$300</div>
                    <div class="hour">=1 hour(s)</div>
                    <div class="text-wrapper-14">/treatments</div>
                    <div class="div-multiple">
                        <div class="multiple-visit">MULTIPLE VISIT</div>
                    </div>
                </div>

                <!--Divider-->
                <div class="line-5-1"></div>

                <!--If User adds treatment this is where their info will go-->
                <div class="treatment-bar1">
                    <div class="treatment-name">Teeth Cleaning</div>
                    <div class="start-from">Start &nbsp; from</div>
                    <div class="price">$75</div>
                    <div class="hour">=1 hour(s)</div>
                    <div class="text-wrapper-14">/treatments</div>
                    <div class="div-single">
                        <div class="single-visit">SINGLE VISIT</div>
                    </div>
                </div>

                <div class="line-5"></div>
                <div class="line-6"></div>
                <div class="line-7"></div>
                <div class="line-8"></div>
                <div class="line-9"></div>
                <div class="line-10"></div>
                <div class="line-11"></div>
                <div class="line-12"></div>
                <div class="line-13"></div>
                <div class="line-14"></div>

            </div>




        
        
    </div>

</body>

</html>
