.side-bar-design {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  z-index: 1;
}



.side-bar-design .frame-1 {
  position: absolute;
  width: 1530px;
  height: 58px;
  top: 18px;
  left: 336px;
}

.side-bar-design .name-page {
  position: absolute;
  width: 156px;
  top: 16px;
  left: 0;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 29.3px;
  letter-spacing: 0;
  line-height: normal;
}

.side-bar-design .search-settings-group {
  position: absolute;
  width: 348px;
  height: 56px;
  top: 0;
  left: 1138px;
}

.side-bar-design .search-box {
  width: 346px;
  height: 45px;
  left: 0;
  background-color: #f5f6fa;
  border-radius: 21.99px;
  position: absolute;
  top: 0;
}

.side-bar-design .search-box-2 {
  position: absolute;
  width: 267px;
  top: 13px;
  left: 48px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 18.3px;
  letter-spacing: 0;
  line-height: normal;
}

.side-bar-design .ellipse-wrapper {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 12px;
  left: 15px;
  background-image: url(./img/icon-3.svg);
  background-size: 100% 100%;
}

.side-bar-design .icon-settings {
  position: absolute;
  width: 35px;
  height: 33px;
  top: 4px;
  left: 1493px;
}

.side-bar-design .line {
  top: 142px;
  position: absolute;
  width: 1609px;
  height: 1px;
  left: 301px;
  background-color: #757575;
  opacity: 0.5;
}

.side-bar-design .line-2 {
  top: 87px;
  position: absolute;
  width: 1609px;
  height: 1px;
  left: 301px;
  background-color: #757575;
  opacity: 0.5;
}

.side-bar-design .left-container {
  width: 301px;
  height: 100%;
  left: 0;
  background-color: #f9fafb;
  box-shadow: 0px 2.92px 2.92px #db4a4a40;
  position: absolute;
  top: 0;
}

.side-bar-design .side-menu-arrow {
  position: absolute;
  width: 38px;
  height: 40px;
  top: 34px;
  left: 285px;
  background-color: #ffffff;
  border-radius: 19.06px / 19.79px;
  border: 0.18px solid;
  border-color: #0000003d;
}

.side-bar-design .iconixto-solid-caret {
  position: absolute;
  width: 33px;
  height: 34px;
  top: 3px;
  left: 1px;
}

.side-bar-design .company-name {
  position: absolute;
  width: 292px;
  top: 0px;
  left: 25px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 29.3px;
  letter-spacing: 0;
  line-height: normal;
}

.side-bar-design .BETTER-SMILES-DENTAL {
  position: absolute;
  width: 292px;
  top: 0;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 29.3px;
  letter-spacing: 0;
  line-height: normal;
}

.side-bar-design .better-smiles-text {
  font-weight: 700;
  color: #0f93b5;
}

.side-bar-design .dental-clinic-text {
  font-family: "Inter-Regular", Helvetica;
  color: #757575;
}

.side-bar-design .clinic-address-text {
  position: absolute;
  width: 250px;
  top: 80px;
  left: 0;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 14.7px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.side-bar-design .clinic-text {
  position: absolute;
  width: 71px;
  top: 150px;
  left: 30px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.side-bar-design .side-menu-icons {
  position: absolute;
  width: 196px;
  height: 406px;
  top: 199px;
  left: 30px;
}

.side-bar-design .todo-element {
  position: absolute;
  width: 150px;
  height: 36px;
  top: 0;
  left: 0;
}

.side-bar-design .icon-todo {
  position: absolute;
  width: 47px;
  height: 36px;
  top: 0;
  left: 0;
}

.side-bar-design .todo-text {
  position: absolute;
  width: 83px;
  top: 5px;
  left: 66px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.side-bar-design .patients-element {
  position: absolute;
  width: 167px;
  height: 49px;
  top: 75px;
  left: 1px;
}

.side-bar-design .icon-sidemenu-user {
  position: absolute;
  width: 39px;
  height: 49px;
  top: 0;
  left: 0;
}

.side-bar-design .patients-text {
  position: absolute;
  width: 99px;
  top: 13px;
  left: 66px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.side-bar-design .treatment-element {
  position: absolute;
  width: 173px;
  height: 48px;
  top: 162px;
  left: 3px;
}

.side-bar-design .icon-stethoscope {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
}

.side-bar-design .treatment-text {
  position: absolute;
  width: 114px;
  top: 11px;
  left: 66px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.side-bar-design .report-element {
  position: absolute;
  width: 168px;
  height: 44px;
  top: 262px;
  left: 0;
}

.side-bar-design .icon-piechart {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  left: 0;
}

.side-bar-design .report-text {
  position: absolute;
  width: 112px;
  top: 10px;
  left: 73px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.side-bar-design .logout-element {
  position: absolute;
  width: 134px;
  height: 44px;
  top: 732px;
  left: 25px;
}

.side-bar-design .icon-logout {
  position: absolute;
  width: 46px;
  height: 44px;
  top: 0;
  left: 0;
}

.side-bar-design .logout-text {
  position: absolute;
  top: 9px;
  left: 63px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
