.todo-element:hover {
  background-color: #E9EFFB;
  width: 243.889px;
  border-radius: 9.697px;
}

.patients-element:hover {
  background-color: #E9EFFB;
  width: 243.889px;
  border-radius: 9.697px;
}

.treatment-element:hover {
  background-color: #E9EFFB;
  width: 248.889px;
  border-radius: 9.697px;
}

.report-element:hover {
  background-color: #E9EFFB;
  width: 248.889px;
  border-radius: 9.697px;
}

.logout-element:hover {
  background-color: #E9EFFB;
  width: 223.889px;
  border-radius: 9.697px;
}
